@font-face {
  font-family: PointPanther;
  src: url("PointPanther.otf");
}

* {
  font-family: sans-serif;
  font-size: 80px;
  color: #142c1b;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

h1 {
  margin: 0;
}

.left-container {
  background-image: url("side-img.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 45vw;
  height: 100vh;
}

.logo {
  margin-top: 40%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-separate {
  margin-top: 120px;
}

.logo-text {
  font-family: 'PointPanther';
  font-size: 300px;
  margin-top: 70px;
  margin-right: 50px;
  color: white;
}

.right-container {
  background-color: #f9fafb;
  width: 55vw;
  display: flex;
  flex-direction: column;
}

.form-container {
  padding-top: 50px;
  margin-top: 100px;
}

.text-info {
  padding: 5% 5% 0% 5%;
}

.form-row {
  margin-bottom: 50px;
}

.form-in-bg {
  background-color: #ffffff;
  padding: 40px 5%;
  padding-right: 15%;
  box-shadow: 10px 20px 20px -20px gray;
}

.form-in-bg h1 {
  padding-top: 50px;
}

.form-area {
  display: flex;
  gap: 3%;
}

.form-row label {
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.left-form {
  width: 50%;
}

.right-form {
  width: 50%;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
  width: 100%;
  height: 90px;
  font-size: 60px;
  padding: 10px;
  border-color: #E5E7EB;
  border-radius: 10px;
}

.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row input[type='tel']:focus,
.form-row input[type='password']:focus {
  outline: none !important;
  border: 1px solid blue;
  box-shadow: 2px 4px 10px gray;
}

.send-info {
  padding: 3% 5%;
  margin-left: 20px;
}

.send-info button {
  background-color: #596D48;
  padding: 60px 120px;
  border-radius: 20px;
  color: white;
  font-size: 60px;
  font-weight: bold;

}

.send-info p,
.send-info a {
  font-size: 60px;
}

.send-info a {
  text-decoration: none;
  color: #37572b;
}